.gif {
  position: relative;
  border-radius: 5px;

  & span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    background-color: #0005;
    backdrop-filter: blur(3px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px 5px;
    font-size: 12;
    font-weight: 700;
    user-select: none;
  }

  &:hover > span {
    display: unset
  }

}