.gif {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);

  & span {
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;
    color: #fefefe;
    backdrop-filter: blur(3px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px 5px;
    font-size: 12;
    font-weight: 700;
    user-select: none;
  }

  &:hover > span {
    display: unset
  }

  & img {
    border-radius: 5px 5px 0 0;
  }

}